html {
  font-size: 62.5%;
}
img {
  width: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-background-primary: #151719;
  --color-background-secondary: #25282c;
  --color-body-primary: #eceded;
  --color-body-secondary: #9ca9b3;
  --color-primary: #6163ff;
}
h1,
h2,
h3 {
  color: var(--color-body-primary);
  line-height: 1.2;
}
h1 {
  font-size: 5.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.8rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background-color: var(--color-background-primary);
  color: var(--color-body-secondary);
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6rem;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* nvbar */

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
}
.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav-list {
  display: block;
  background-color: #000;
  width: 100%;
  max-height: 500px;
  text-align: center;
  opacity: 1;
  transition: all 0.2s;
}
.expanded {
  overflow: hidden;
  max-height: 0;
  opacity: 1;
  transition: all 0.2s;
}
.fa-times,
.fa-bars {
  cursor: pointer;
  opacity: 0.5s;
}
.fa-times:hover,
.fa-bars:hover {
  opacity: 0.7;
}
.fa-times {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.fa-bars {
  transform: rotate(-180deg);
  transition: transform 0.5s;
}
.nav-item,
.nav-item a {
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  color: var(--color-body-primary);
  font-size: 1.8rem;
}
.btn-primary {
  display: inline-block;
  background-color: var(--color-primary);
  width: 25rem;
  /* padding: 1rem 10rem; */
  outline: 0;
  border: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-body-primary);
  cursor: pointer;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-height: 100%;
    background-color: var(--color-background-primary);
  }

  .nav-item a {
    color: var(--color-body-secondary);
  }
  .nav-item a:hover {
    color: var(--color-body-primary);
  }
  .btn-primary {
    width: 12rem;
  }
}

/* hero */
/* section-one */
.section-one {
  text-align: center;
  padding: 7rem 6rem 2rem 6rem;
}
.heading span {
  color: var(--color-primary);
}
.heading,
.sub-heading {
  margin: 0;
}
.sub-heading {
  padding-top: 2.2rem;
}
@media screen and (min-width: 768px) {
  .sub-heading {
    padding-right: 15rem;
    padding-left: 15rem;
  }
}

/* section-two */
.section-two {
  text-align: center;
  padding-bottom: 2rem;
}

.btn-view,
.btn-started {
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 1.8rem;
  color: var(--color-body-primary);
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.btn-started {
  background-color: var(--color-primary);
  padding: 1.5rem 8rem;
  margin: 2rem;
}
.btn-view {
  background-color: var(--color-background-secondary);
  font-weight: bold;
  padding: 1.5rem 6.3rem;
}
@media screen and (min-width: 768px) {
  .btn-started,
  .btn-view {
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
  }
}

/* section-four */
.section-four {
  text-align: center;
  padding: 4rem;
}
.section-four p {
  padding-top: 1.5rem;
}
.section-four h2 {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .section-four {
    text-align: center;
    margin: 0 20rem;
  }
}

/* feature */
.feature {
  border-bottom: 1px solid;
  border-color: var(--color-background-secondary);
  margin: 0 3rem;
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 3rem 2rem;
}
.feature-icon {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  fill: var(--color-body-primary);
  background-color: var(--color-primary);
}
.feature h3 {
  padding: 1.8rem;
}

@media screen and(min-width:768px) {
  .feature {
    margin: 0;
  }
}

/* workflow */
.workflow {
  border-bottom: 1px solid;
  border-color: var(--color-background-secondary);
  margin: 4rem 1.5rem;
}
.workflow .heading {
  text-align: center;
  margin-bottom: 2rem;
}
.workflow .heading p {
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .workflow .heading {
    padding: 4rem 20rem;
  }
  .card {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 33.3%;
  }
}

/* media */
.media {
  text-align: center;
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.media-light {
  color: #5658dd;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}
.media-content {
  padding: 4rem;
}

.media-content h3 {
  padding-bottom: 1.8rem;
}

@media screen and (min-width: 768px) {
  .media {
    text-align: left;
  }
  .media-img {
    width: 50%;
  }
  .media-content {
    width: 50%;
  }
  .media:nth-of-type(even) .media-img {
    order: 1;
  }
}

/* testimonial*/
.testimonial {
  margin-top: 3rem;
}
.testimonial-header {
  text-align: center;
}
.testimonial-header {
  padding: 3rem;
}
.testimonial-header p {
  padding-top: 2rem;
}
.testimonial-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.testimonial-card {
  background-color: var(--color-background-secondary);
  border: 1px solid;
  border-color: var(--color-background-secondary);
  margin: 2rem 1rem;
  width: 350px;
  /* height: 500px; */
}
.testimonial-card-content {
  margin: 2rem;
  border-bottom: 1px solid;
  border-color: var(--color-body-secondary);
  padding-bottom: 1.8rem;
  line-height: 1.6;
}

.testimonial-card-content::before {
  content: "";
  padding-bottom: 4rem;
  display: block;
  width: 20px;
  height: 18px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20width%3D"24"%20height%3D"18"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path%20d%3D"M0%2013.481c0-2.34.611-4.761%201.833-7.263C3.056%203.716%204.733%201.643%206.865%200L11%202.689C9.726%204.382%208.777%206.093%208.152%207.824c-.624%201.73-.936%203.578-.936%205.545V18H0v-4.519zm13%200c0-2.34.611-4.761%201.833-7.263%201.223-2.502%202.9-4.575%205.032-6.218L24%202.689c-1.274%201.693-2.223%203.404-2.848%205.135-.624%201.73-.936%203.578-.936%205.545V18H13v-4.519z"%20fill%3D"%236163FF"%20fill-rule%3D"nonzero"%2F><%2Fsvg>');
  background-repeat: no-repeat;
}
.testimonial-card-footer {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-body-primary);
  padding: 0 5rem;
  padding-bottom: 2rem;
}
.slash {
  color: #717d86;
}
.app-name {
  color: #1cb686;
  text-decoration: none;
}
.app-name:hover {
  color: #24e5af;
}

/* email */
.email {
  background-color: #5658dd;
  border: 0;
  border-radius: 5px;
  margin: 4rem 2rem;
  padding: 5rem;
  text-align: center;
}
.form-group {
  position: relative;
  margin-top: 3rem;
}
.form-control {
  width: 100%;
  height: 5rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding-left: 2rem;
  background-color: #eceded;
}
.form-control::placeholder {
  font-size: 1.6rem;
}
.arrow {
  height: 15px;
  width: 20px;
  position: absolute;
  right: 30px;
  top: 17px;
}
.email-bg {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .form-group {
    margin-top: 0;
  }
}

/* footer */
.footer {
  text-align: center;
  margin-top: 7rem;
}
.logo-footer {
  width: 40px;
  height: 40px;
  margin-bottom: 2rem;
}
.social-icons {
  width: 20px;
  height: 20px;
  margin: 0 3rem;
}

@media screen and (min-width: 768px) {
  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .logo-footer {
    margin-left: 3rem;
  }
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-items li {
  list-style: none;
  padding: 2rem 1rem;
}
.footer-items li a {
  text-decoration: none;
  color: var(--color-body-secondary);
  font-size: 1.3rem;
}
.footer-items li a:hover {
  color: var(--color-body-primary);
}
.reserved p {
  font-size: 1.5rem;
  padding: 2rem 4rem;
}

@media screen and (min-width: 768px) {
  .section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .section2:nth-of-type(even) .footer-list {
    order: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 59, 59, 0.7);
  z-index: 1;
}

.modal {
  overflow: auto;
  /* z-index: 1; */
  position: absolute;
  border-radius: 10px;
  top: 10rem;
  right: 2.5rem;
  bottom: 10rem;
  left: 2.5rem;
  width: 90%;
  padding: 2rem;
  margin: 2.5rem auto;
  background-color: var(--color-reverse);
  transition: all 0.5s;
  border: 2px solid #336cfb;
  box-shadow: 0px 0px 20px #336cfb;
}

.video {
  width: 100%;
  height: 90%;
  padding: 0.5rem;
}
